* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(243, 242, 242);
}


/* NAVBAR */

.navbar-wrapper {
    background-color: whitesmoke;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.container-navbar {
    padding: 25px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.container-navbar ul {
    display: flex;
    list-style-type: none;
}

.container-navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.container-navbar a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    
}

.container-navbar a:focus {
    border-bottom: 2px solid transparent;
}

/* NAVBAR DONE */

.merger-container {
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 80px auto;
    gap: 50px;
    max-width: 1100px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.about-container {
    flex: 1;
}

.about-container h2 {
    margin-bottom: 20px;
}

.about-container h4 {
    margin-bottom: 10px;
}

.about-container p {
    margin-bottom: 10px;
}


.info-list {
    list-style: none;
}

.info-list li {
    margin-bottom: 10px;
}


.about-picture {
    height: auto;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}