* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(243, 242, 242);
}


/* NAVBAR */

.navbar-wrapper {
    background-color: whitesmoke;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.container-navbar {
    padding: 25px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.container-navbar ul {
    display: flex;
    list-style-type: none;
}

.container-navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.container-navbar a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    
}

.container-navbar a:focus {
    border-bottom: 2px solid transparent;
}

/* NAVBAR DONE */


/* PAGE */

.page-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

/* PAGE DONE */



.merger-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    gap: 20px;
}



/* SOCIAL AND FORM */
.social-container {
    width: 500px;
    height: 350px;
    background-color: #ddd;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 40px;
    display: block;
    transition: .3s ease;
}

.social-container:hover {
    transform: scale(1.02);
}

.message-container {
    width: 500px;
    height: 350px;
    background-color: #ddd;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 40px;
    display: block;
    transition: .3s ease;
}

.message-container:hover {
    transform: scale(1.02);
}

/* SOCIAL AND MESSAGE DONE */

/* SOCIAL TABEL */
.social-container h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.awalan-text {
    color: rgb(61, 61, 61);
    margin-bottom: 20px;
}

.email-text {
    color:#3b97f9;
    margin-bottom: 10px;
    margin-left: 20px;
}

.instagram-text {
    text-decoration: none;
    color: #3b97f9;
}

.instagram-container {
    margin-bottom: 10px;
    margin-left: 20px;
}

.management-text {
    margin-left: 20px;
    margin-top: 10;
    color: rgb(61, 61, 61);
}
.social-container ul {
    list-style-type: none;
}

/* FORM */
.message-container label {
    display: block;
    margin-top: 5px;
    font-weight: 300;
    margin-bottom: 5px;
}

.message-container input {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.message-container textarea {
    box-sizing: border-box;
    resize: none;
    height: 100px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.message-container button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 12px;
    width: 100px;
    border-style: initial;
    background-color: #3b97f9;
    color: white;
    transition: .3s ease;
    width: 100%;
}

.message-container button:hover {
    transform: scale(1.02);
}

/* FORM DONE */

