* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(243, 242, 242);
}

/* NAVBAR */

.navbar-wrapper {
    background-color: whitesmoke;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.container-navbar {
    padding: 25px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.container-navbar ul {
    display: flex;
    list-style-type: none;
}

.container-navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.container-navbar a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    
}

.container-navbar a:focus {
    border-bottom: 2px solid transparent;
}

/* NAVBAR DONE */


.container-merger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
}


/* WELCOMING */
.container-welcoming {
max-width: 500px;
}

.container-welcoming h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container-welcoming p {
    line-height: 1.6;
    padding: 5px;
    font-weight: 300;
    color: #555;
}

.container-button {
    background-color: rgb(18, 168, 255);
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    border-style: none;
    transition: .3s ease;
    cursor: pointer;  
}

.container-button:hover {
    background-color: rgb(22, 95, 141);
}
/* WELCOMING DONE */


/* IMAGE */
.profile-image {
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.02);
}
/* IMAGE DONE */


